.contacts {
   padding: 20px;
   &__title {
      padding-bottom: 30px;
      text-align: center;
   }
   &__body {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
   }
   &__block {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
   }
   &__left {
      aspect-ratio: 1 / 1;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      gap: 30px;
   }
   &__top {
      width: 100%;
      background: radial-gradient(#00000000, #00000090),
         conic-gradient(
            #4285f4,
            #4285f4,
            #db4437,
            #db4437,
            #f4b400,
            #f4b400,
            #0f9d58,
            #0f9d58,
            #4285f4
         );
   }

   &__icon {
      width: 55px;
      height: 55px;
      color: $black;
      transition: 0.3s;
      @media (max-width: $mobile) {
         width: 35px;
         height: 35px;
      }
   }
   &__block:hover .contacts__icon {
      transform: scale(1.1);
   }
   &__bottom {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
   }
   &__item:first-child {
      background: radial-gradient(#00000000, #00000090), #0077b5;
   }
   &__item:last-child {
      background: radial-gradient(#00000000, #00000090), #4267b2;
   }
   &__right {
      aspect-ratio: 1 / 1;
      background: radial-gradient(#00000000, #00000090),
         radial-gradient(
            circle at 30% 110%,
            #ffdb8b 0%,
            #ee653d 25%,
            #d42e81 50%,
            #a237b6 75%,
            #3e5fbc 100%
         );
   }
}
@media (max-width: $mobileSmall) {
   .contacts {
      &__body {
         grid-template-rows: 1fr 1fr;
         grid-template-columns: 1fr;
      }
   }
}
