.skills {
   padding: 20px;
   &__title {
      text-align: center;
      padding-bottom: 30px;
   }
   &__body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
      @media only screen and (max-width: $mobile) {
         grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      @media only screen and (max-width: $mobileSmall) {
         grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
   }
   &__img {
      position: relative;
      aspect-ratio: 1 / 1;
      border-radius: 25px;
      overflow: hidden;
   }
   &__img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(#00000000, $gray);
      background-position: center;
      background-size: 150% 150%;
      border-radius: 25px;
      z-index: 3;
      pointer-events: none;
   }
   &__img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
      transition: 0.3s;
   }
   &__img:hover img {
      transform: scale(1.1);
   }
   &__img:nth-child(1) {
      background: hsl(207, 100%, 9%);
   }
   &__img:nth-child(2) {
      background: hsl(0, 100%, 9%);
   }
   &__img:nth-child(3) {
      background: #470019;
   }
   &__img:nth-child(4) {
      background: #00005b;
   }
   &__img:nth-child(5) {
      background: #00005b;
   }
   &__img:last-child {
      background: #fff;
      & img {
         position: absolute;
         top: 50px;
         left: 50px;
         width: calc(100% - 100px);
         height: calc(100% - 100px);
         object-fit: cover;
         border-radius: 25px;
      }
   }
}
