.story {
   padding: 20px;
   &__body {
      background: radial-gradient(rgb(24, 7, 7), $gray);
      padding: 40px;
      border-radius: 25px;
   }
   &__title {
      padding-bottom: 20px;
      z-index: 2;
   }
   &__text {
      opacity: 0.8;
      z-index: 2;
   }
}
